.navbar>.container {
    display: contents;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.navbar-sticky {
    top: 0;
    position: sticky;
    z-index: 10000;
}

.main-heading {
    font-size: larger;
    font-weight: bold;
}

.nav-link {
    color: var(--font-color);
    margin-left: 20px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--font-color)
}